graft src

include *.rst
include LICENSE

prune .tox
prune developer
prune docs
prune examples
prune tests
prune benchmarks

exclude .gitattributes
exclude .gitignore
exclude .coveragerc
exclude .readthedocs.yml
exclude .codecov.yml
exclude tox.ini
exclude asv.conf.json
