furo
#setuptools  # required for sphinxcontrib-bibtex together with Python 3.12
setuptools<=81  # Temporary fix. Remove once https://github.com/sphinx-contrib/sphinxcontrib-details-directive/pull/9 is merged
sphinx
sphinx-gallery
sphinxcontrib-bibtex
sphinxcontrib-details-directive
sphinx-toggleprompt
sphinx-tabs
#docutils
docutils<0.22  # Temporary fix. Remove once https://github.com/executablebooks/sphinx-tabs/pull/207 is released
